* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
    /* Style the header */
    header {
      background-color: rgb(252, 222, 103);
      padding: 10px;
      text-align: center;
      font-size: 30px;
      color: rgb(3, 14, 18);
    }
  
  
    p {
      padding-left: 14px;
    }
    
    /* Create two columns/boxes that floats next to each other */
    nav {
      float: left;
      width: 30%;
      height: 300px; /* only for demonstration, should be removed */
      background: rgb(245, 2, 233);
      padding: 20px;
    }
    
    /* Style the list inside the menu */
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    
    article {
      float: left;
      padding: 20px;
      width: 70%;
      background-color: rgb(91, 204, 246);
      color:rgb(3, 14, 18)
      /* height: 300px; only for demonstration, should be removed */
    }
    
    /* Clear floats after the columns */
    section:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Style the footer */
    footer {
      background-color: rgb(105, 104, 104);
      padding: 10px;
      text-align: right;
      color: rgb(91, 204, 246);
    }

    #headshot { 
      width:400px;
    }

  .dark-mode {
    position: absolute;
    left: 93%;
    top: 2%;
    width: 30pt;
    height: 30pt;
  }

  .sweet-mode {
    position: absolute;
    left: 87%;
    top: 2%;
    width: 30pt;
    height: 30pt;
  }