.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

.App {
  text-align: center;
}

.box {
  border: solid 2px rgb(180, 180, 180);
  width: 75%;
  height: 70%;
  margin:auto;
  margin-top: 3%;
  border-radius: 5px;
}

.box-header {
  height: 13%;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items {
  margin-top: auto;
  margin-bottom: auto;
}

/* Scalable Search Start */
.search {
  padding-top: 15px;
}

.search .form-control {
  padding-right: 2.375rem;
  width: 100%;
  border-color: #707070;
}

.search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 67px;
  text-align: center;
  pointer-events: none;
  color: #707070;
  right: 0;
  top: 0;
}
/* Scalable Search End */